{:source-paths ["src/main"
                "src/test"]

 :dependencies [;; CLJS interface to React.js
                [reagent "1.1.0"]

                ;; Event-driven architectural framework for Reagent based apps
                [re-frame "1.2.0"]

                ;; Async HTTP requests as re-frame effects via cljs-ajax
                [day8.re-frame/http-fx "0.2.3"]

                ;; Elegant threading macros for a more civilized age
                [swiss-arrows "1.0.0"]]

 :builds       {:app {:target           :react-native
                      :init-fn          example.app/init
                      :output-dir       "app"
                      :compiler-options {:infer-externs :auto}
                      :devtools         {:autoload true
                                         :preloads [shadow.expo.keep-awake]}}}}
